@font-face {
  font-family: Montreal;
  src: url("/src/assets/fonts/PPNeueMontreal-Medium.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: Montreal;
}
#root {
  height: 200vh;
}

.nav {
  width: 100%;
}

#logo {
  height: 80px;
  width: 80px;
}

.links {
  width: 100%;
  font-size: 1.2rem;
  height: 60px;
  border: 2px black solid;
  border-left:none;border-right:none;
}
