* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: fantasy;
}
#root {
  height: 200vh;
}

.btn {
  padding: 10px;
  background-color: whitesmoke;
  border: 1px black solid;
}

/* NAVBAR */
.nav {
  width: 100%;
  z-index: 3;
  height: 156px;
}
#logo {
  height: 80px;
  width: 80px;
}

.links {
  width: 100%;
  font-size: 1.2rem;
  height: 60px;
}

.subMenu {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
  margin-top: 14px;
  height: 220px;
}

.listGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 2;
  row-gap: 0px;
  column-gap: 20px;
  width: 400px;
  margin-top: 20px;
  margin-left: 30rem;
}

.menuIMG {
  height: 160px;
  width: 260px;
}

div.subMenu ul li {
  font-size: 0.9rem;
  height: fit-content;
  margin: 0;
}

div.subMenu h3 {
  font-size: 1rem;
  height: fit-content;
  margin: 0;
}

div.imgContainer h4 {
  font-size: 1rem;
}

/* HEADER */
.header {
  height: 600px;
  width: 100%;
}
#headerIMG {
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* CAROUSEL */

.imagePreview{
  height: 320px;
}